@using GrpcBrowser.Store.Services
@using static System.Reflection.BindingFlags

<style>
    .types {
        font-family: monospace;
        font-size: 14px;
        font-weight: bold;
        padding-left: 10px;
    }
</style>

<div class="d-flex flex-row">
    <div class="mt-1">Request Type:</div>
    <div class="types">@Operation.RequestType</div>
    <MudTooltip Text="Show Type Information">
        <MudIconButton Icon="@Icons.Material.Filled.AccountTree" Size="@Size.Small" OnClick="@ShowRequestTypeTree"/>
    </MudTooltip>
</div>
@if (_showRequestTypeTree)
{
    <TypeTree Type="@Operation.RequestType" />
}

<div class="d-flex flex-row">
    <div class="mt-1">Response Type:</div>
    <div class="types">@Operation.ResponseType</div>
    <MudTooltip Text="Show Type Information">
        <MudIconButton Icon="@Icons.Material.Filled.AccountTree" Size="@Size.Small" OnClick="@ShowResponseTypeTree"/>
    </MudTooltip>
</div>
@if (_showResponseTypeTree)
{
    <TypeTree Type="@Operation.ResponseType" />
}

@code
{
    [Parameter] public GrpcOperation Operation { get; set; }

    private bool _showRequestTypeTree = false;
    private bool _showResponseTypeTree = false;

    private void ShowRequestTypeTree()
    {
        _showRequestTypeTree = true;
        StateHasChanged();
    }

    private void ShowResponseTypeTree()
    {
        _showResponseTypeTree = true;
        StateHasChanged();
    }
}
